
header {
    background-color: blue;
}

h1 {
    color: red;
}

footer {
    background-color:orange;
    color:black;
}

div {
    padding: 1em
}

.flex {
    display: flex;
    justify-content: space-around;
}

.item {
    background-color: red;
    width: 100px;
    height: 100px;
}
